<header class="login-header">
<%= link_to root_path do %>
<i class=" fa fa-arrow-left"></i>
<% end %>
<div class="login-link">
<p><%= link_to "LOG IN", new_session_path(resource_name) %><br /></p>
</div>
<p class="p-hide">log in</p>
</header>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field-login">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "email-login" %>
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field-remember-me">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions-login">
    <%= f.submit "Log in", class: "login-submit" %>
  </div>
<% end %>
<div class="shared-links-login">
<%= render "devise/shared/links" %>
</div>

<div class="passw-login">
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot password?", new_password_path(resource_name) %><br />
<% end %>
</div>
